body {
background: #EFE9EA;
font-family: 'Arimo', sans-serif;
}

h1 {
font-weight: normal;
font-size: 1.5em;
}

.navbar {
margin:0;
}

.menu:after {
content: " ";
display:block;
position: relative;
bottom:-13px;
height:13px;
background: linear-gradient(-45deg, transparent 75%, #EFE9EA 75%) 0 50%,
            linear-gradient(45deg, transparent 75%, #EFE9EA 75%) 0 50%;
/*background: -webkit-linear-gradient(-45deg, transparent 75%, #EFE9EA 75%) 0 50%,
          -webkit-linear-gradient(-45deg, transparent 75%, #EFE9EA 75%) 0 50%; */
background-repeat: repeat-x;
background-size:13px 13px, 13px 13px;
z-index: 1000;
}

.navbar-nav {
top:30px;
}

.nav li a{
font-size: 14px;
text-transform: uppercase;
letter-spacing: 1.6px;
margin-right: 36px;
color: #85716A;
font-family: 'Oxygen', sans-serif;
}

.nav li a:hover{
background: none;
color:#5F8594;
}

.nav li a:focus{
background: none;
color: #85716A;
border-top: 1px solid #C97229;
border-bottom: 1px solid #C97229;
outline: 0;
}

.nav li a:active{
background: none;
color: #85716A;
border-top: 1px solid #C97229;
border-bottom: 1px solid #C97229;
outline: 0;
}



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel .container {
position: relative;
z-index: 9;
}

.carousel-control {
height: 80px;
margin-top: 0;
font-size: 140px;
text-shadow: 0 1px 1px rgba(0,0,0,.4);
background-color: rgba(201,188,157,0.4);
border: 0;
z-index: 10;
font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
color: #452D2C;
opacity: 1;
}

.carousel .item {
height:750px;
}

.carousel img {
position: absolute;
top: 0;
left: 0;
min-width: 100%;
}

.carousel-caption {
background-color: rgba(201,188,157,0.6);
position: static;
max-width: 450px;
padding: 40px;
margin-top: 200px;
-webkit-border-top-right-radius: 25px;
-webkit-border-bottom-left-radius: 25px;
-moz-border-radius-topright: 25px;
-moz-border-radius-bottomleft: 25px;
border-top-right-radius: 25px;
border-bottom-left-radius: 25px;
-webkit-box-shadow: 7px 7px 5px 0px rgba(69, 45, 44, 0.75);
-moz-box-shadow:    7px 7px 5px 0px rgba(69, 45, 44, 0.75);
box-shadow:         7px 7px 5px 0px rgba(69, 45, 44, 0.75);
}

.carousel-caption h1,
.carousel-caption .lead {
line-height: 1.25;
color: #EFE9EA;
text-shadow: 0 1px 1px rgba(0,0,0,.4);
font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.carousel-caption .lead {
margin-top: 12px;
margin-bottom: 12px;
font-size: 1.2em;
font-family: 'Arimo', sans-serif;
}

.carousel-caption .btn {
margin-top: 10px;
}

.link {
color: #452D2C;
opacity: 1;
font-size: 1.4em;
font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
padding-top: 10px;
}

.link:hover {
text-decoration: none;
}

.left {
margin-left: 25px;
}


/*---footer*/

footer:before {
content: " ";
display:block;
position: relative;
bottom:33px;
height:13px;
background: linear-gradient(-135deg, transparent 75%, #EFE9EA 75%) 0 50%,
            linear-gradient(135deg, transparent 75%, #EFE9EA 75%) 0 50%;
/*background: -webkit-linear-gradient(-135deg, transparent 75%, #EFE9EA 75%) 0 50%,
          -webkit-linear-gradient(-135deg, transparent 75%, #EFE9EA 75%) 0 50%; */
background-repeat: repeat-x;
background-size:13px 13px, 13px 13px;
z-index: 1000;
}

footer p {
margin-left: 5%;
}

/*---bemutatkozom*/
.content {
background: rgba(157,140,131,0.5);
margin: 0;
}